# For

In [1]:
#for é um comando de repetição
contador = [0,1,2,3,4,5,6,7,8,9]
contador

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for valor in contador:
    print(valor)

    #implementa com base na lista um contador

0
1
2
3
4
5
6
7
8
9

In [4]:
# ? no colabe mosta as opçoes daquele comando
#obs - Funciona tambem no jupyuter nootebook
range?

In [5]:
for valor in range (100):
    print(valor)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [7]:
#fazendo um range diferente 
#começa em 5 e pecorre ate 50 saltando 3
for i in range(5,50,3):
    print(i)

5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

In [11]:
cidades  = ["Figueirópolis d'Oeste", 'Indiavai', 'Araputanga', 
         "Mirassol d'Oeste", "Jauru", 'Vale do São Domingos', 
         'Reserva do Cabaçal', 'Porto Eperidião','São Jose dos Quatro Marcos']
cidades

["Figueirópolis d'Oeste",
 'Indiavai',
 'Araputanga',
 "Mirassol d'Oeste",
 'Jauru',
 'Vale do São Domingos',
 'Reserva do Cabaçal',
 'Porto Eperidião',
 'São Jose dos Quatro Marcos']

In [12]:
#implementando for de cidades
for cidades in cidades:
    print('Cidades proximas '+cidades)

Cidades proximas Figueirópolis d'Oeste
Cidades proximas Indiavai
Cidades proximas Araputanga
Cidades proximas Mirassol d'Oeste
Cidades proximas Jauru
Cidades proximas Vale do São Domingos
Cidades proximas Reserva do Cabaçal
Cidades proximas Porto Eperidião
Cidades proximas São Jose dos Quatro Marcos

In [13]:
lista = [1,2,3,4,'ledigo']
for lista in lista:
    print(lista)

1
2
3
4
ledigo

# While

In [15]:
x = 0
while x < 5:
    print(x)
    x = x + 1

0
1
2
3
4

# criando lista com for

In [17]:
quadrados =[]
for numero in range(10):
    quadrados.append(numero**2)
    
quadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
#forma mais concisa de criar lista
quadrado = [numero**2 for numero in range(10)]
quadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Funçoes

In [19]:
#função que não retorna valor
def exibirMensagem(parametro):
    print('Mensangem >> '+parametro)

In [20]:
exibirMensagem('ola mundo!!!')

Mensangem >> ola mundo!!!

In [31]:
def exibirDados(nome,idade,sexo,cidade,estado):
    print('Meu nome é {}'.format(nome))
    print('tenho {} anos de idade'.format(idade))
    print('sou do sexo {}'.format(sexo))
    print('e moro na cidade de {}'.format(cidade))
    print('no estado do {}'.format(estado))

In [32]:
exibirDados('Ordnael Zinid',30,'Masculino','Apucarama','São Paulo')

Meu nome é Ordnael Zinid
tenho 30 anos de idade
sou do sexo Masculino
e moro na cidade de Apucarama
no estado do São Paulo

###### Fuçoes que reotrna valor

In [33]:
def eleva_ao_quadrado(numero):
    return numero **2

In [34]:
eleva_ao_quadrado(4)

16