In [ ]:
## variaveis
* espaço na memoria para guardar um dado
* Variaveis não precisa atribuir o tipo

In [9]:
texto = "Ola figueirópolis"

In [10]:
texto

'Ola figueirópolis'

In [11]:
#verificando o tipo de variavel
type(texto)

str

In [12]:
#complementando a variavel
texto = texto +"-Aula 02 produzido por ticos pelo acaso"

In [13]:
texto

'Ola figueirópolis-Aula 02 produzido por ticos pelo acaso'

Variaveis numerica

incrmentando / decrementando

In [18]:
soma =0
soma

0

In [19]:
soma = soma+1
soma

1

In [20]:
#forma economica de fazer uma incrementação
soma += 1
soma

2

In [23]:
#forma economica de fazer uma decrementar
soma -= 1
soma

1

In [24]:
soma = soma-1
soma

0

# lista

criando e selecionando elementos

In [27]:
#criando uma lista de frutas
frutas = ['maça','banana','limão','laranja']

In [28]:
frutas

['maça', 'banana', 'limão', 'laranja']

In [30]:
#selecionando elemento desejado
#para selecionar tem que passar o indice dentro de []
frutas[0]

'maça'

In [32]:
#lista de numeros
numeros = [1,2,3,4,5,6,7,8,9,0]
numeros

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [33]:
numero [2:4]

[3, 4]

In [35]:
#colocando listas dentro de listas 
lista  = ['a','b','c',frutas,numeros]
lista

['a',
 'b',
 'c',
 ['maça', 'banana', 'limão', 'laranja'],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]]

In [39]:
#pegando elemento especifico dentro 
lista[3][2]

'limão'

In [40]:
#pegando os 3 primeiros elementos
lista [:3]

['a', 'b', 'c']

In [42]:
#pegando elementos desejados acima
lista [2:]

['c', ['maça', 'banana', 'limão', 'laranja'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]]

In [44]:
#pegando intervalo especificado
lista [2:4]

['c', ['maça', 'banana', 'limão', 'laranja']]

# Adcionando e removendo elemento

In [47]:
#adcionando um elemento especifico com append
frutas.append('goiaba')
frutas

['maça', 'banana', 'limão', 'laranja', 'goiaba', 'goiaba', 'goiaba']

In [53]:
frutas.append('Mamão')
frutas.append('Morango')
frutas

['maça', 'banana', 'limão', 'laranja', 'goiaba', 'Mamão', 'Mamão', 'Morango']

In [51]:
#apagando ultimo elemento da lista
frutas.pop()
frutas

['maça', 'banana', 'limão', 'laranja', 'goiaba']

In [55]:
#apagando elemento desejado da lista
frutas.pop(4)
frutas

['maça', 'banana', 'limão', 'laranja', 'Mamão', 'Morango']

# alterando elemento

In [57]:
#para altera basta informar a posição do elemento
#Vamos alterar o elemento maça para pera
frutas[0]= 'pera'
frutas

['pera', 'banana', 'limão', 'laranja', 'Mamão', 'Morango']

# tuplas

In [62]:
#a diferença da lista é que não utiliza cochete
#a Dife
marcasCarros = 'General Motors', 'Ford','Fiat','Volksvagen'
marcasCarros

('General Motors', 'Ford', 'Fiat', 'Volksvagen')

In [63]:
marcasCarros[0]

'General Motors'