In [1]:
print("ola mundo")

ola mundo

In [2]:
print ('ola ' + 'Mundo' )

ola Mundo

In [4]:
#substituindo valores
print("Ola mundo eu {} a {}".format('sou','crris'))

Ola mundo eu sou a crris

In [5]:
#texto minusculo 
print('Curso de Pyton Iniciante'.lower())

curso de pyton iniciante

In [6]:
#Texto Maisculas com upper 
print('Curso de Pyton Iniciante'.upper())

CURSO DE PYTON INICIANTE

In [11]:
#removendo espaços com strip()
#remove só de antes e depois 
print('      Curso    de            Pyton            Iniciante'         .strip())

Curso    de            Pyton            Iniciante

In [12]:
#type mostra o tipo de dado
type ('Curso de Pyton Iniciante'.lower())
#str tipo string

str

In [14]:
#Tipos numéricos 
type(2)

int

In [15]:
#numero tipo int = inteiro

In [16]:
#float
type(0.2)

float

In [17]:
#numero tipo float ou flutuante

OPERADORES MATEMATICOS

 ola mundo
 l

In [22]:
#Soma
1+1

2

In [23]:
#subtração
3-2

1

In [20]:
#multiplicação
5*5

25

In [21]:
#exponeciação
5**5

3125

In [24]:
#divisão
8/2
#qualque numero com barra e float

4.0

In [25]:
#para retornar um divisão inteira tem que usar duas barras
5//2

2

In [26]:
#resto da divisão da para ver com porcentagem
5%2

1

#expressoes

In [27]:
10-5+20-4

21

In [29]:
((2+3)*(4-2))**2

100